@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,300&family=Oleo+Script+Swash+Caps&display=swap');

*{
    font-family: 'IBM Plex Serif', serif; 
}

.bg-Rosa{
    background-color:rgb(212, 169, 188);
}
.bg-Cinzaclaro{
    background-color: #ddd;
}

.bg-RosaClaro{
    background-color: rgb(224, 184, 213);
}